<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Avery Magnotti">
<meta name="theme-color" content="#4ea5d9">
<meta name="description" content="My minimal portfolio. Nothing much yet, just a showcase of my recently-active GitHub projects. ">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="https://citrusui.me/apple-touch-icon.png">
<meta name="twitter:site" content="@citrusui">
<meta property="og:description" content="My minimal portfolio. Nothing much yet, just a showcase of my recently-active GitHub projects.">
<meta property="og:image" content="https://citrusui.me/apple-touch-icon.png">
<meta property="og:title" content="citrusui dot me">
<meta property=og:url content="https://citrusui.me">
<link rel="apple-touch-icon" href="https://citrusui.me/apple-touch-icon.png">
<link rel="canonical" href="https://citrusui.me">
<link rel="icon" href="https://citrusui.me/favicon.png">
<link rel="mask-icon" href="https://citrusui.me/mask-icon.svg" color="#4ea5d9">
<link rel="stylesheet" href="https://citrusui.me/dotme.css">
<title>citrusui dot me</title>
