---
layout: default
blog: true
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post-preview">
    <h1 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% include time.html %}
    {{ post.content | markdownify | split:'<null>' | first }}
    {% if post.content contains '<null>' %}
    <p><a href="{{ post.url }}">Read more…</a></p>
    {% endif %}
  </div>
  {% endfor %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.url }}">Newer</a>
    {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.url }}">Older</a>
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %}
  </div>
  </div>
