<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <nav>
    <div class="nav-content">
      <ul>
        <li><a class="nav-logo" href="{{ site.url }}">{% include logo.html %}</a></li>
        <li><a href="{{ site.url }}/blog">Blog</a></li>
        <li><a href="https://keybase.io/citrusui">Keybase</a></li>
        <li><a href="https://github.com/citrusui">GitHub</a></li>
      </ul>
    </div>
  </nav>
  <div class="container content">
    <main>
      {% if page.legacy %}
      {% include legacy.html %}
      {% endif %}
      {{ content }}
      {% if page.title == "main" %}
      {% include buttons.html %}
      {% endif %}
    </main>
    {% if page.layout != "post"%}
    <hr>
    {% endif %}
    <footer class="footer">
      <small>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%Y" }}</time> Avery Magnotti.
        <a href="{{ site.github }}">View Source.</a>
      </small>
    </footer>
  </div>
  {% include emulate.html %}
</body>
</html>
