<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <nav>
    <div class="nav-content">
      <ul>
        <li><a class="nav-logo" href="{{ site.url }}">{% include logo.html %}</a></li>
        <li><a href="{{ site.url }}/blog">Blog</a></li>
        <li><a href="https://github.com/citrusui">GitHub</a></li>
      </ul>
    </div>
  </nav>

  {% if page.blog or page.layout == "post" %}

  <div class="container">
    <form>
      <input class="search" type="search" id="search-input" placeholder="Search…" autocomplete="off">
      <div id="search-results"></div>
    </form>
  </div>
  <br>
  {% endif %}

  <div class="container content">
    <main>
      {% if page.legacy %}
      {% include legacy.html %}
      {% endif %}
      {{ content }}
      {% if page.title == "main" %}
      {% include buttons.html %}
      {% endif %}
    </main>
    {% if page.layout != "post"%}
    <hr>
    {% endif %}
    <footer class="footer">
      <small>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%Y" }}</time> Avery Magnotti.
        Code licensed <a href="{{ site.github }}/blob/master/LICENSE.md">MIT.</a> Blog posts licensed <a href="{{ site.github }}/blob/master/blog/LICENSE.md">CC-BY-NC-SA 4.0.</a> <a href="{{ site.github }}">View Source.</a>
      </small>
    </footer>
  </div>
  {% include javascript.html %}
</body>
</html>
